{% extends "layout.html" %}

{% block body %}
    <h1>Search</h1>
    <form action="{{ url_for('index') }}">
        <div class="form-group">
            <label for="search-input">Search Term</label>
            <input type="text" class="form-control" name="search-input" id="search-input" placeholder="Search Term">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <h3>{{ count }} search results:</h3>
    <div class="container">
        {% for book in results %}
            <a href="{{ url_for('book', isbn=book.isbn) }}">
                <div>
                    <b>ISBN:</b> {{ book.isbn }}<br>
                    <b>Title:</b> {{ book.title }}<br>
                    <b>Author:</b> {{ book.name }}<br>
                    <b>Year:</b> {{ book.year }}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}